#cloud-config
package_update: true
package_upgrade: true

packages:
  - curl
  - git
  - golang
  - docker.io
  - docker-compose

runcmd:
  - [systemctl, enable, docker]
  - [systemctl, start, docker]
  - [usermod, -aG, docker, ubuntu]

final_message: "System setup completed!"